In [2]:
import pandas as pd
import numpy as np

In [8]:
df_quotes = pd.read_parquet('../data/quotes/GS_quotes_1s_2025-06-01_2025-06-03.parquet')

In [9]:
df_quotes

,ts,bid_price,ask_price,bid_size,ask_size,mid,spread,imbalance_l1,microprice,microprice_dev
0,2025-06-02 04:00:00-04:00,595.0,598.00,100.0,200.0,596.50,3.00,-0.333333,596.00,-0.5
1,2025-06-02 04:00:01-04:00,595.0,598.00,100.0,200.0,596.50,3.00,-0.333333,596.00,-0.5
2,2025-06-02 04:00:02-04:00,595.0,598.00,100.0,200.0,596.50,3.00,-0.333333,596.00,-0.5
3,2025-06-02 04:00:03-04:00,595.0,598.00,100.0,200.0,596.50,3.00,-0.333333,596.00,-0.5
4,2025-06-02 04:00:04-04:00,595.0,598.00,100.0,200.0,596.50,3.00,-0.333333,596.00,-0.5
...,...,...,...,...,...,...,...,...,...,...
57596,2025-06-02 19:59:56-04:00,598.0,598.72,100.0,100.0,598.36,0.72,0.000000,598.36,0.0
57597,2025-06-02 19:59:57-04:00,598.0,598.72,100.0,100.0,598.36,0.72,0.000000,598.36,0.0
57598,2025-06-02 19:59:58-04:00,598.0,598.72,100.0,100.0,598.36,0.72,0.000000,598.36,0.0
57599,2025-06-02 19:59:59-04:00,598.0,598.72,100.0,100.0,598.36,0.72,0.000000,598.36,0.0
57600,2025-06-02 20:00:00-04:00,597.0,598.72,100.0,100.0,597.86,1.72,0.000000,597.86,0.0

In [10]:
df_prices = pd.read_parquet('../data/prices/GS_1s_2025-06-01_2025-06-03.parquet')
df_prices

,ts,symbol,open,high,low,close,volume,vwap,n_trades
0,2025-06-02 09:30:00-04:00,GS,NaN,NaN,NaN,NaN,0.0,NaN,0.0
1,2025-06-02 09:30:01-04:00,GS,598.60,598.60,598.60,598.60,19214.0,598.5954,31.0
2,2025-06-02 09:30:02-04:00,GS,597.00,597.00,597.00,597.00,1043.0,597.3029,53.0
3,2025-06-02 09:30:03-04:00,GS,597.29,597.29,597.29,597.29,207.0,597.3975,32.0
4,2025-06-02 09:30:04-04:00,GS,597.29,597.29,597.29,597.29,0.0,597.3975,0.0
...,...,...,...,...,...,...,...,...,...
46795,2025-06-03 15:59:55-04:00,GS,604.12,604.13,604.00,604.00,0.0,604.0700,0.0
46796,2025-06-03 15:59:56-04:00,GS,603.89,603.89,603.89,603.89,367.0,603.9091,15.0
46797,2025-06-03 15:59:57-04:00,GS,603.89,603.89,603.89,603.89,0.0,603.9091,0.0
46798,2025-06-03 15:59:58-04:00,GS,603.95,603.96,603.83,603.96,4669.0,603.9033,105.0
46799,2025-06-03 15:59:59-04:00,GS,603.95,604.20,603.87,604.20,6599.0,604.1217,92.0